<html lang="en">
<body>
<div class="header">
  <div class="title">{{name}}</div>
  <div class="sub-score">最终得分</div>
  <div class="sub-score">{{main}} +  {{sub}}</div>
  <div class="total-score">{{total}}</div>
  <img src="{{artifactBase64}}" class="artifact" alt>
</div>
<div class="content">
  <div class="main-item">
    <img src="{{starBase64}}" alt>
    <span>{{#with main_item}}{{name}} + {{value}}{{/with}}</span>
  </div>
  {{#each sub_item}}
    <div class="sub-item">
      <div class="dot"></div>
      <span>{{this.name}} + {{this.value}}</span>
    </div>
  {{/each}}
</div>
</body>
<style>
  @font-face {
    font-family: 'NotoSansSC-Regular';
    src: url(data:font/truetype;charset=utf-8;base64,{{fontBase64}}) format('truetype');
  }

  html {
    width: 482px;
    height: 482px;
  }

  * {
    padding: 0;
    margin: 0;
    font-family: NotoSansSC-Regular, serif;
    box-sizing: border-box;
  }

  body {
    background-image: url({{backgroundBase64}});
    background-repeat: no-repeat;
    background-position-y: -2px;
  }

  .header {
    height: 215px;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
  }

  .header .title {
    font-size: 32px;
    color: #DBAC70;
    margin-bottom: 8px;
  }

  .header .sub-score {
    font-size: 18px;
    color: #dbcfc0;
  }

  .header .total-score {
    font-size: 56px;
    color: gold;
  }

  .artifact {
    height: 160px;
    width: 160px;
    position: absolute;
    right: 24px;
    top: 28px;
  }

  .content {
    padding: 16px;
    height: 267px;
    color: #495366;
    background: #ECE5D8;
  }

  .main-item {
    display: flex;
    height: 24px;
  }

  .main-item img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }

  .main-item span {
    font-size: 20px;
    line-height: 24px;
  }

  .sub-item {
    display: flex;
    align-items: center;
    height: 18px;
    margin-top: 24px;
  }

  .sub-item .dot {
    width: 12px;
    height: 12px;
    background: #495366;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 22px;
  }

  .sub-item span {
    line-height: 18px;
    font-size: 16px;
  }
</style>
</html>